<!--Two columns. Left is 1/4 size containing the game categories. Right is 3/4 containing the front page of listings-->
<div id="main">
  <div class="columns">

    <div class="column is-one-quarter has-text-centered block">

      {{!-- Categories of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Categories</p>
      <div class="dropdown is-hoverable block">
  <div class="dropdown-trigger block">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Select a Category</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu block" id="dropdown-menu4" role="menu">
    <div class="dropdown-content block">
      <div class="dropdown-item">

      <a href="/category/Nintendo" class="dropdown-item">Nintendo</a>
      <a href="/category/Sony"class="dropdown-item">Sony</a>
      <a href="/category/Microsoft" class="dropdown-item">Microsoft</a>
      <a href="/category/Sega" class="dropdown-item">Sega</a>
      <a href="/category/Square Enix" class="dropdown-item">Square Enix</a>
      <a href="/category/Bandai Namco" class="dropdown-item">Bandai Namco</a>
      <a href="/category/Other" class="dropdown-item">Other</a>
      
      </div>
    </div>
  </div>
</div>
  
      {{!-- Genre of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Genre</p>
      <div class="dropdown is-hoverable block">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Select a Genre</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">

      <a href="/genre/Action" class="dropdown-item">Action</a>
      <a href="/genre/Adventure"class="dropdown-item">Adventure</a>
      <a href="/genre/RPG" class="dropdown-item">RPG</a>
      <a href="/genre/Simulation" class="dropdown-item">Simulation</a>
      <a href="/genre/Sports" class="dropdown-item">Sports</a>
      <a href="/genre/Platformer" class="dropdown-item">Platformer</a>
      <a href='/genre/Racing' class="dropdown-item">Racing</a>
      <a href='/genre/Shooter' class="dropdown-item">Shooter</a>
      <a href='/genre/Open World' class="dropdown-item">Open World</a>
      <a href='/genre/Strategy' class="dropdown-item">Strategy</a>
      <a href='/genre/Other' class="dropdown-item">Other</a>

      </div>
    </div>
  </div>
</div>
      
      {{!-- Systems for the games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">System</p>
      <div class="dropdown is-hoverable block">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Select a System</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">

        <a href='/system/NES' class="dropdown-item">NES</a>
        <a href='/system/SNES' class="dropdown-item">SNES</a>
        <a href='/system/N64' class="dropdown-item">N64</a>
        <a href='/system/Gamecube' class="dropdown-item">Gamecube</a>
        <a href='/system/Wii' class="dropdown-item">Wii</a>
        <a href='/system/Gameboy' class="dropdown-item">Gameboy</a>
        <a href='/system/Gameboy Advance' class="dropdown-item">Gameboy Advance</a>
        <a href='/system/DS' class="dropdown-item">DS</a>
        <a href='/system/3DS' class="dropdown-item">3DS</a>
        <a href='/system/PS1' class="dropdown-item">PS1</a>
        <a href='/system/PS2' class="dropdown-item">PS2</a>
        <a href='/system/PS3' class="dropdown-item">PS3</a>
        <a href='/system/PS4' class="dropdown-item">PS4</a>
        <a href='/system/Xbox' class="dropdown-item">Xbox</a>
        <a href='/system/Xbox360' class="dropdown-item">Xbox 360</a>
        <a href='/system/Sega Genesis' class="dropdown-item">Sega Genesis</a>
        <a href='/system/Other' class="dropdown-item">Other</a>

      </div>
    </div>
  </div>
</div>
      
      
      {{!-- Condition of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Condition</p>
      <div class="dropdown is-hoverable block">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
      <span>Game Condition</span>
      <span class="icon is-small">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu4" role="menu">
    <div class="dropdown-content">
      <div class="dropdown-item">

        <a href='/condition/CIB - Good Condition' class="dropdown-item">CIB (Complete In Box)</a>
        <a href='/condition/Loose' class="dropdown-item">Loose</a>
        <a href='/condition/Brand New' class="dropdown-item">Brand New</a>

      </div>
    </div>
  </div>
</div>
     
    </div>

    <div class="column block">
      <h2 class="title is-3 has-text-centered	">Listings</h2>
      
      <div class="columns is-multiline block" id="listingpage">
        {{#each posts}}
        <div class="column is-one-quarter block" id="card">
          <h2>
            <a href='/post/{{id}}'>{{title}}</a>
          </h2>
          <p>System: {{ system }}</p>
          <P>Category: {{ category }}</P>
          <p>Condition: {{ condition }}</p>
          <p>Genre: {{ genre }}</p>
          <p>Description: {{ description }}</p>
          <p>Price: {{ price }}$</p>
          <br>
        </div>
        {{/each}}
      </div>
    </div>
    
  </div>
</div>