<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<div id= "main" >
{{#each posts}}
  <div id="card" class="box">
    <h2>
      <a href='/post/{{id}}'>{{title}}</a>
    </h2>
    <p>Game Title: {{ title }}</p>
    <P>Category: {{ category }}</P>
    <p>Condition: {{ condition }}</p>
    <p>Description: {{ description }}</p>
    <br>
  </div>
{{/each}}
</div>


