<!--Two columns. Left is 1/4 size containing the game categories. Right is 3/4 containing the front page of listings-->
<div id="main">
  <div class="columns">

    <div class="column is-one-quarter has-text-centered">

      {{!-- Categories of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Categories</p>
      <a href='/category/Nintendo' class="subtitle is-5 is-spaced has-text-grey-light">Nintendo</a>
      <br>
      <br>
      <a href='/category/Sony' class="subtitle is-5 is-spaced has-text-grey-light">Sony</a>
      <br>
      <br>
      <a href='/category/Microsoft' class="subtitle is-5 is-spaced has-text-grey-light">Microsoft</a>
      <br>
      <br>
      <a href='/category/Sega' class="subtitle is-5 is-spaced has-text-grey-light">Sega</a>
      <br>
      <br>
      <a href='/category/Square Enix' class="subtitle is-5 is-spaced has-text-grey-light">Square Enix</a>
      <br>
      <br>
      <a href='/category/Bandai Namco' class="subtitle is-5 is-spaced has-text-grey-light">Bandai Namco</a>
      <br>
      <br>

      {{!-- Genre of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Genre</p>
      <a href='/genre/Action' class="subtitle is-5 is-spaced has-text-grey-light">Action</a>
      <br>
      <br>
      <a href='/genre/Adventure' class="subtitle is-5 is-spaced has-text-grey-light">Adventure</a>
      <br>
      <br>
      <a href='/genre/RPG' class="subtitle is-5 is-spaced has-text-grey-light">RPG</a>
      <br>
      <br>
      <a href='/genre/Simulation' class="subtitle is-5 is-spaced has-text-grey-light">Simulation</a>
      <br>
      <br>
      <a href='/genre/Sports' class="subtitle is-5 is-spaced has-text-grey-light">Sports</a>
      <br>
      <br>
      <a href='/genre/Platformer' class="subtitle is-5 is-spaced has-text-grey-light">Platformer</a>
      <br>
      <br>
      <a href='/genre/Racing' class="subtitle is-5 is-spaced has-text-grey-light">Racing</a>
      <br>
      <br>
      <a href='/genre/Shooter' class="subtitle is-5 is-spaced has-text-grey-light">Shooter</a>
      <br>
      <br>
      <a href='/genre/Open World' class="subtitle is-5 is-spaced has-text-grey-light">Open World</a>
      <br>
      <br>
      <a href='/genre/Strategy' class="subtitle is-5 is-spaced has-text-grey-light">Strategy</a>
      <br>
      <br>

      {{!-- Systems for the games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">System</p>
      <a href='/system/NES' class="subtitle is-5 is-spaced has-text-grey-light">NES</a>
      <br>
      <br>
      <a href='/system/SNES' class="subtitle is-5 is-spaced has-text-grey-light">SNES</a>
      <br>
      <br>
      <a href='/system/N64' class="subtitle is-5 is-spaced has-text-grey-light">N64</a>
      <br>
      <br>
      <a href='/system/Gamecube' class="subtitle is-5 is-spaced has-text-grey-light">Gamecube</a>
      <br>
      <br>
      <a href='/system/Wii' class="subtitle is-5 is-spaced has-text-grey-light">Wii</a>
      <br>
      <br>
      <a href='/system/Gameboy' class="subtitle is-5 is-spaced has-text-grey-light">Gameboy</a>
      <br>
      <br>
      <a href='/system/Gameboy Advance' class="subtitle is-5 is-spaced has-text-grey-light">Gameboy Advance</a>
      <br>
      <br>
      <a href='/system/DS' class="subtitle is-5 is-spaced has-text-grey-light">DS</a>
      <br>
      <br>
      <a href='/system/3DS' class="subtitle is-5 is-spaced has-text-grey-light">3DS</a>
      <br>
      <br>
      <a href='/system/PS1' class="subtitle is-5 is-spaced has-text-grey-light">PS1</a>
      <br>
      <br>
      <a href='/system/PS2' class="subtitle is-5 is-spaced has-text-grey-light">PS2</a>
      <br>
      <br>
      <a href='/system/PSP' class="subtitle is-5 is-spaced has-text-grey-light">PSP</a>
      <br>
      <br>
      <a href='/system/PS3' class="subtitle is-5 is-spaced has-text-grey-light">PS3</a>
      <br>
      <br>
      <a href='/system/PS4' class="subtitle is-5 is-spaced has-text-grey-light">PS4</a>
      <br>
      <br>
      <a href='/system/Xbox' class="subtitle is-5 is-spaced has-text-grey-light">Xbox</a>
      <br>
      <br>
      <a href='/system/Xbox360' class="subtitle is-5 is-spaced has-text-grey-light">Xbox 360</a>
      <br>
      <br>
      <a href='/system/Sega Genesis' class="subtitle is-5 is-spaced has-text-grey-light">Sega Genesis</a>
      <br>
      <br>
      
      {{!-- Condition of games  --}}
      <p class="title is-3 is-spaced has-text-grey-dark">Condition</p>
      <a href='/condition/CIB - Good Condition' class="subtitle is-5 is-spaced has-text-grey-light">CIB (Complete In Box)</a>
      <br>
      <br>
      <a href='/condition/Loose' class="subtitle is-5 is-spaced has-text-grey-light">Loose</a>
      <br>
      <br>
      <a href='/condition/Brand New' class="subtitle is-5 is-spaced has-text-grey-light">Brand New</a>
      <br>
      <br>

    </div>

    <div class="column">
      <h2 class="title is-3 has-text-centered	">Listings</h2>
      
      <div class="columns is-multiline" id="listingpage">
        {{#each posts}}
        <div class="column is-one-quarter" id="card">
          <h2>
            <a href='/post/{{id}}'>{{title}}</a>
          </h2>
          <p>System: {{ system }}</p>
          <P>Category: {{ category }}</P>
          <p>Condition: {{ condition }}</p>
          <p>Genre: {{ genre }}</p>
          <p>Description: {{ description }}</p>
          <p>Price: {{ price }}$</p>
          <br>
        </div>
        {{/each}}
      </div>
    </div>
    
  </div>
</div>