<!--Two columns. Left is 1/4 size containing the game categories. Right is 3/4 containing the front page of listings-->
{{! <div class="categories">
  <div>
    <a href="/category/Nintendo">Nintendo</a>
    <label>Publisher</label>
    <select>
      <option><a href="/category/Nintendo">Nintendo</a></option>
      <option><a href="/category/Sony">Sony</a></option>
      <option><a href="/category/Microsoft">Microsoft</a></option>
      <option><a href="/category/Sega">Sega</a></option>
      <option><a href="/category/Square Enix">Square Enix</a></option>
      <option><a href="/category/Bandai Namco">Bandai Namco</a></option>
      <option><a href="/category/Other">Other</a></option>
    </select>
  </div>

  <div>
    <label>Genre</label>
    <select>
      <option><a href="/genre/Action">Action</a></option>
      <option><a href="/genre/Adventure">Adventure</a></option>
      <option><a href="/genre/RPG">RPG</a></option>
      <option><a href="/genre/Simulation">Simulation</a></option>
      <option><a href="/genre/Sports">Sports</a></option>
      <option><a href="/genre/Platformer">Platformer</a></option>
      <option><a href="/genre/Racing">Racing</a></option>
      <option><a href="/genre/Shooter">Shooter</a></option>
      <option><a href="/genre/Open World">Open World</a></option>
      <option><a href="/genre/Strategy">Strategy</a></option>
      <option><a href="/genre/Other">Other</a></option>
    </select>
  </div>

  <div>
    <label>System</label>
    <select>
      <option><a href="/system/NES">NES</a></option>
      <option><a href="/system/SNES">SNES</a></option>
      <option><a href="/system/N64">N64</a></option>
      <option><a href="/system/Gamecube">Gamecube</a></option>
      <option><a href="/system/Wii">Wii</a></option>
      <option><a href="/system/Gameboy">Gameboy</a></option>
      <option><a href="/system/Gameboy Advance">Gameboy Advance</a></option>
      <option><a href="/system/DS">DS</a></option>
      <option><a href="/system/3DS">3DS</a></option>
      <option><a href="/system/PS1">PS1</a></option>
      <option><a href="/system/PS2">PS2</a></option>
      <option><a href="/system/PS3">PS3</a></option>
      <option><a href="/system/PS4">PS4</a></option>
      <option><a href="/system/Xbox">Xbox</a></option>
      <option><a href="/system/Xbox360">Xbox 360</a></option>
      <option><a href="/system/Sega Genesis">Sega Genesis</a></option>
      <option><a href="/system/Other">Other</a></option>
    </select>
  </div>

  <div>
    <label>Condition</label>
    <select>
      <option><a href="/condition/CIB - Good Condition">CIB (Complete In Box)</a></option>
      <option><a href="/condition/Loose">Loose</a></option>
      <option><a href="/condition/Brand New">Brand New</a></option>
    </select>
  </div>
</div> }}

<div class="filterBar">

  <button class="clearBtn"><a href="/">Show All</a></button>

  <div class="pubFilter">
    <button class="pubBtn">Publisher</button>
    <div class="pubListCont">
      <div class="pubList">
        <a href="/category/Nintendo">Nintendo</a>
        <a href="/category/Sony">Sony</a>
        <a href="/category/Microsoft">Microsoft</a>
        <a href="/category/Sega">Sega</a>
        <a href="/category/Square Enix">Square Enix</a>
        <a href="/category/Bandai Namco">Bandai Namco</a>
        <a href="/category/Other">Other</a>
      </div>
    </div>
  </div>

  <div class="genreFilter">
    <button class="genreBtn">Genre</button>
    <div class="genreListCont">
      <div class="genreList">
        <a href="/genre/Action">Action</a>
        <a href="/genre/Adventure">Adventure</a>
        <a href="/genre/RPG">RPG</a>
        <a href="/genre/Simulation">Simulation</a>
        <a href="/genre/Sports">Sports</a>
        <a href="/genre/Platformer">Platformer</a>
        <a href="/genre/Racing">Racing</a>
        <a href="/genre/Shooter">Shooter</a>
        <a href="/genre/Open World">Open World</a>
        <a href="/genre/Strategy">Strategy</a>
        <a href="/genre/Other">Other</a>
      </div>
    </div>

  </div>
  <div class="systemFilter">
    <button class="systemBtn">System</button>
    <div class="systemListCont">
      <div class="systemList">
        <a href="/system/NES">NES</a>
        <a href="/system/SNES">SNES</a>
        <a href="/system/N64">N64</a>
        <a href="/system/Gamecube">Gamecube</a>
        <a href="/system/Wii">Wii</a>
        <a href="/system/Gameboy">Gameboy</a>
        <a href="/system/Gameboy Advance">Gameboy Advance</a>
        <a href="/system/DS">DS</a>
        <a href="/system/3DS">3DS</a>
        <a href="/system/PS1">PS1</a>
        <a href="/system/PS2">PS2</a>
        <a href="/system/PS3">PS3</a>
        <a href="/system/PS4">PS4</a>
        <a href="/system/Xbox">Xbox</a>
        <a href="/system/Xbox360">Xbox 360</a>
        <a href="/system/Sega Genesis">Sega Genesis</a>
        <a href="/system/Other">Other</a>
      </div>
    </div>
  </div>

  <div class="condFilter">
    <button class="condBtn">Condition</button>
    <div class="condListCont">
      <div class="conditionList">
        <a href="/condition/CIB - Good Condition">CIB (Complete In Box)</a>
        <a href="/condition/Loose">Loose</a>
        <a href="/condition/Brand New">Brand New</a>
      </div>
    </div>
  </div>
</div>

<div class="listingCont">
  <div class="listings">
    {{#each posts}}
      <div class="card">
        <a href="/post/{{id}}">
          <div class="listingImage">
            IMAGE
          </div>
          <div class="listingInfo">
            <h2>{{title}}</h2>
            <p>System: {{system}}</p>
            {{!-- <P>Category: {{category}}</P> --}}
            {{!-- <p>Condition: {{condition}}</p>
              <p>Genre: {{genre}}</p> --}}
            {{!-- <p>Description: {{description}}</p> --}}
            <p>Price: {{price}}$</p>
          </div>

        </a>
      </div>
    {{/each}}
  </div>
</div>

{{!-- <div id="main">
  <div class="columns">

    {{!-- <div class="column is-one-quarter has-text-centered block">

      {{! Categories of games  }}
      {{! <p class="title is-3 is-spaced has-text-grey-dark">Categories</p>
      <div class="dropdown is-hoverable block">
        <div class="dropdown-trigger block">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu4"
          >
            <span>Select a Category</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu block" id="dropdown-menu4" role="menu">
          <div class="dropdown-content block">
            <div>

              <a href="/category/Nintendo">Nintendo</a>
              <a href="/category/Sony">Sony</a>
              <a href="/category/Microsoft">Microsoft</a>
              <a href="/category/Sega">Sega</a>
              <a href="/category/Square Enix">Square Enix</a>
              <a href="/category/Bandai Namco">Bandai
                Namco</a>
              <a href="/category/Other">Other</a>

            </div>
          </div>
        </div>
      </div> }}

      {{! Genre of games  }}
      {{! <p class="title is-3 is-spaced has-text-grey-dark">Genre</p>
      <div class="dropdown is-hoverable block">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu4"
          >
            <span>Select a Genre</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div>

              <a href="/genre/Action">Action</a>
              <a href="/genre/Adventure">Adventure</a>
              <a href="/genre/RPG">RPG</a>
              <a href="/genre/Simulation">Simulation</a>
              <a href="/genre/Sports">Sports</a>
              <a href="/genre/Platformer">Platformer</a>
              <a href="/genre/Racing">Racing</a>
              <a href="/genre/Shooter">Shooter</a>
              <a href="/genre/Open World">Open World</a>
              <a href="/genre/Strategy">Strategy</a>
              <a href="/genre/Other">Other</a>

            </div>
          </div>
        </div>
      </div> }}

      {{! Systems for the games  }}
      {{! <p class="title is-3 is-spaced has-text-grey-dark">System</p>
      <div class="dropdown is-hoverable block">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu4"
          >
            <span>Select a System</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div>

              <a href="/system/NES">NES</a>
              <a href="/system/SNES">SNES</a>
              <a href="/system/N64">N64</a>
              <a href="/system/Gamecube">Gamecube</a>
              <a href="/system/Wii">Wii</a>
              <a href="/system/Gameboy">Gameboy</a>
              <a href="/system/Gameboy Advance">Gameboy Advance</a>
              <a href="/system/DS">DS</a>
              <a href="/system/3DS">3DS</a>
              <a href="/system/PS1">PS1</a>
              <a href="/system/PS2">PS2</a>
              <a href="/system/PS3">PS3</a>
              <a href="/system/PS4">PS4</a>
              <a href="/system/Xbox">Xbox</a>
              <a href="/system/Xbox360">Xbox 360</a>
              <a href="/system/Sega Genesis">Sega Genesis</a>
              <a href="/system/Other">Other</a>

            </div>
          </div>
        </div>
      </div> }}

      {{! Condition of games  }}
      <p class="title is-3 is-spaced has-text-grey-dark">Condition</p>
      <div class="dropdown is-hoverable block">
        <div class="dropdown-trigger">
          <button
            class="button"
            aria-haspopup="true"
            aria-controls="dropdown-menu4"
          >
            <span>Game Condition</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div>

              <a href="/condition/CIB - Good Condition">CIB (Complete In Box)</a>
              <a href="/condition/Loose">Loose</a>
              <a href="/condition/Brand New">Brand New</a>

            </div>
          </div>
        </div>
      </div>

    </div> --

    <div class="column block">
      <h2 class="title is-3 has-text-centered">Listings</h2>

      <div class="columns is-multiline block" id="listingpage">
        {{#each posts}}
          <div class="column is-one-quarter block" id="card">
            <h2>
              <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <p>System: {{system}}</p>
            <P>Category: {{category}}</P>
            <p>Condition: {{condition}}</p>
            <p>Genre: {{genre}}</p>
            <p>Description: {{description}}</p>
            <p>Price: {{price}}$</p>
            <br />
          </div>
        {{/each}}
      </div>
    </div>

  </div>
</div> --}}

<script src="./js/homepage.js"></script>