<!--Two columns. Left is 1/4 size containing the game categories. Right is 3/4 containing the front page of listings-->
<div id="main">
  <div class="columns">

    <div class="column is-one-quarter has-text-centered">

      {{!-- Get  --}}
      <p class="title is-2 is-spaced has-text-grey-dark">Categories</p>

      <a href='/Nintendo' class="subtitle is-5 is-spaced has-text-grey-light">Nintendo</a>
      <br>
      <br>
      <a href='/Sony' class="subtitle is-5 is-spaced has-text-grey-light">Sony</a>
      <br>
      <br>
      <a href='/Microsoft' class="subtitle is-5 is-spaced has-text-grey-light">Microsoft</a>
      <br>
      <br>
      <a href='/Sega' class="subtitle is-5 is-spaced has-text-grey-light">Sega</a>
      <br>
      <br>
      <a href='/Square' class="subtitle is-5 is-spaced has-text-grey-light">Square Enix</a>
      <br>
      <br>
      <a href='/Bandai' class="subtitle is-5 is-spaced has-text-grey-light">Bandai Namco</a>
      <br>
      <br>

      <p class="title is-2 is-spaced has-text-grey-dark">Genre</p>

      <a href='/RPG' class="subtitle is-5 is-spaced has-text-grey-light">RPG</a>
      <br>
      <br>
      <a href='/Simulation' class="subtitle is-5 is-spaced has-text-grey-light">Simulation</a>
      <br>
      <br>
      <a href='/Sports' class="subtitle is-5 is-spaced has-text-grey-light">Sports</a>
      <br>
      <br>
      <a href='/Action' class="subtitle is-5 is-spaced has-text-grey-light">Action</a>
      <br>
      <br>
      <a href='/Adventure' class="subtitle is-5 is-spaced has-text-grey-light">Adventure</a>
      <br>
      <br>

      <p class="title is-2 is-spaced has-text-grey-dark">System</p>

      <a href='/ps4' class="subtitle is-5 is-spaced has-text-grey-light">PS4</a>
      <br>
      <br>
      <a href='/ps3' class="subtitle is-5 is-spaced has-text-grey-light">PS3</a>
      <br>
      <br>
      <a href='/ds' class="subtitle is-5 is-spaced has-text-grey-light">DS</a>
      <br>
      <br>
      <a href='/3ds' class="subtitle is-5 is-spaced has-text-grey-light">3DS</a>
      <br>
      <br>
      <a href='/wii' class="subtitle is-5 is-spaced has-text-grey-light">Wii</a>
      <br>
      <br>
      <a href='/gamecube' class="subtitle is-5 is-spaced has-text-grey-light">Gamecube</a>
      <br>
      <br>
      <a href='/xbox360' class="subtitle is-5 is-spaced has-text-grey-light">Xbox 360</a>
      <br>
      <br>
      <a href='/xbox' class="subtitle is-5 is-spaced has-text-grey-light">Xbox</a>
      <br>
      <br>

    </div>

    <div class="column is-flex-wrap-wrap has-text-centered is-flex-direction-row" id="listingpage">
      
      <h2 class="title-is-2">Listings</h2>
      
      {{#each posts}}
      <div id="card">
        <h2>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        <p>Game Title: {{ title }}</p>
        <P>Category: {{ category }}</P>
        <p>Condition: {{ condition }}</p>
        <p>Description: {{ description }}</p>
        <br>
      </div>
      {{/each}}

    </div>

  </div>
</div>