<div class="postContainer">
  <div class="postContent">
    <div class="postingImage">
      <img
        src="https://bulma.io/images/placeholders/128x128.png"
        alt="postImage"
      />
    </div>
    <div class="postInfo">
      <div>
        <h1>{{title}}</h1>
        <div class="postGenInfo">
          <p>Publisher: {{category}}</p>
          <p>Genre: {{genre}}</p>
          <p>System: {{system}}</p>
          <p>Condition: {{condition}}</p>
        </div>
        {{!-- <div class="postDesc">
        <p>Description: {{description}}</p>
        </div> --}}
      </div>
      <div>
        <div class="postPrice">
          <p>Price: ${{price}}</p>
        </div>
        <div class="postUser">
          <p>Posted by: {{user.username}}</p>
        </div>
      </div>

    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />

{{!-- <div class="box is-flex is-justify-content-center">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img
          src="https://bulma.io/images/placeholders/128x128.png"
          alt="Image"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          Created by:
          <strong> {{user.username}} </strong>
          <br />
          <h2>Game Title: {{title}}</h2>
          <p>Category: {{category}}</p>
          <p>Genre: {{genre}}</p>
          <p>System: {{system}}</p>
          <p>Condition: {{condition}}</p>
          <p>Description: {{description}}</p>
          <span for="img" aria-label="money">💲</span>
          <span class="dollar-amount">{{price}}</span>

        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fa fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fa fa-copy" style="color:blue" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              💙
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div> --}}