<div class="text-center">
  <h2>Game Title: {{title}}</h2>
  <p>Category: {{category}}</p>
  <p>Genre: {{genre}}</p>
  <p>System: {{system}}</p>
  <p>Condition: {{condition}}</p>
  <p>Description: {{description}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{price}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Hey! I'm Interested</button>
  </p>
</div>
